@using Classware.Areas.Administrator.Models.Class;
@model ICollection<AllClassesViewModel>

<form method="post" asp-area="Administrator" asp-controller="Class" asp-action="Delete">
	<table class="table table-light table-hover table-striped table-bordered ">
		<thead>
			<tr>
				<th class="text-center" scope="col">Name</th>
				<th class="text-center" scope="col">Students Count</th>
				<th class="text-center" scope="col">Delete action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var _class in Model)
			{
				<tr>
					<td class="text-center">@_class.Name</td>
					<td class="text-center">@_class.StudentsCount</td>
					<td class="text-center"><button class="btn btn-danger" asp-area="Administrator" asp-controller="Class" asp-action="Delete" asp-route-id="@_class.Id">Delete</button></td>
				</tr>
			}
		</tbody>
	</table>
	</form>