<h3 class="text-center">Welcome back to Classware, @User.Identity.Name</h3>
<hr />
<div class="text-center">
	<h4 class="text-center">Up at the navigation bar you can see your subjects, remarks and compliments you have!</h4>
</div>