@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/imports.css" type="text/css" />
</head>
<body>
    <div class="text-center">
        <h1>Welcome to Classware!</h1>
        <hr />
        <h3 class="mb-5 mt-3">The best school managment system on planet earth!</h3>
        <hr />
        <h4 class="mb-4 mt-2">Here are some of the many benefits we can deliver</h4>
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://apiwp.thelocal.com/wp-content/uploads/2017/11/df405b39f3674c7cde6650d55741bfc9455c6dadd82e6d19b8d76a49f8e72e58.jpg" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="card" style="background-color:#e0e0eb;">
                            <h3 class="mt-2" style="color:black;">Decrease of bureaucracy</h3>
                            <p style="color:black; font-size:20px;">From now the teacher shouldn't have to carry papers all the time!</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://thumbs.dreamstime.com/b/front-view-pupil-boy-making-notes-copybook-pen-sitting-desk-laptop-computer-looking-camera-child-schoolboy-doing-218487746.jpg" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="card" style="background-color:#e0e0eb;">
                            <h3 class="mt-2" style="color:black;">Engaging students</h3>
                            <p style="color:black; font-size:20px;">Children develop great technology knowledge since little, so why not engage them in such a way!</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://cdn.mos.cms.futurecdn.net/cHCTiEgtRqbtGpyCdjXwfY-1200-80.jpg" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="card" style="background-color:#e0e0eb;">
                            <h3 class="mt-2" style="color:black;">Better managment</h3>
                            <p style="color:black; font-size:20px;">Teachers now can manage their students' grades,compliments and remarks in a better way!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form method="post" asp-action="LogIn" asp-controller="Account">
            <div class="card mt-4" style="width: 25rem; margin:auto; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; padding:20px;">
                <h5 class="mt-2 mb-4">If you have an account consider logging in!</h5>
                <a class="btn btn-primary mb-1" style="margin:auto" asp-action="LogIn" asp-controller="Account">Log In</a>
            </div>
        </form>
    </div>
    <a href="/Chat/SendMessage" class="sticky-chat"><div class="chat-active-dot"></div><i class="fas fa-comment-dots fa-3x"></i></a>
</body>   

