<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Classware - Administration</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Classware.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/toastr/toastr.min.css" />
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
	<header>
		<partial name="_UserMessagesPartial" />
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #6600cc;">
			<div class="container-fluid">
				<a style="color:white;" class="navbar-brand" asp-area="Student" asp-controller="Home" asp-action="Index">Classware - Students</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="dropdown">
				<a class=" nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" style="color:white">Subjects</a>
				<ul class="dropdown-menu">
					<li><a asp-area="Student" asp-controller="Subject" asp-action="All" class="dropdown-item">All subjects</a></li>
				</ul>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<form class="form-inline" asp-area="" asp-controller="Account" asp-action="LogOut" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
							<button type="submit" class="nav-link btn btn-link text-light">Logout</button>
						</form>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
	</footer>
	<script src="~/toastr/toastr.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
